# fly.toml app configuration file generated for lncurl on 2026-02-16T17:50:53+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lncurl'
primary_region = 'fra'

[build]

[env]
  DATABASE_URL = 'file:/data/lncurl.db'

[[mounts]]
  source = 'lncurl_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
